[submodule "hardfloat"]
	path = hardfloat
	url = https://github.com/ucb-bar/berkeley-hardfloat.git
[submodule "torture"]
	path = torture
	url = https://github.com/ucb-bar/riscv-torture.git
[submodule "cde"]
	path = cde
	url = https://github.com/chipsalliance/cde.git
[submodule "chisel-circt-binder"]
	path = chisel-circt-binder
	url = git@github.com:sequencer/chisel-circt-binder.git
